body {
    background-color: rgb(247 245 241);
}

hr {
    /* background-color: white; */
    color: grey;
    border-style: dotted none none;
    /* height: 0px; */
    border-width: 10px;
    width: 5%;
}
h1,h3{
    color: #6fBfBf;;
}