/* ################################ Tag Selector ####################### */
h1{
    color: red;
    font-size: 150px;
}
img:hover{
    background-color: gold;
}

/* ################################ Class Selector ####################### */
.bacon{
    background-color: red;    
}